input {
    padding: 10px;
    margin: 5px 0px;
    border-radius: 5px;
    border: 1px solid gray;
}

input:focus {
    outline: none;
}

.formInput {
    display: flex;
    flex-direction: column;
    width: 280px;
}

label {
    font-size: 12px;
    color: #000051;
}

span {
    font-size: 12px;
    padding: 3px;
    color: red;
}

.formInput input[disabled] {
    display: block;
    border: 1px solid #005005;
    color: #2e7d32;
    background-color: white;
}

