table, th, td {
    border: 1px solid red;
    border-collapse: collapse;
}

th, td {
    background-color: #96D4D4;
    text-align: center;
}

caption {
    padding: 10px 0px;
    font-size: 1.5rem;
}

tbody > tr :nth-child(2) {
    text-align: left;
    padding-left: 10px;
}