table, th, td {
    border: 1px solid #b0bec5;
    border-collapse: collapse;
}

thead th {
    padding: 8px;
}


th, td {
    background-color: #b3e5fc;
    text-align: center;
}

caption {
    padding: 10px 0px;
    font-size: 1.5rem;
}

tbody > tr :nth-child(2) {
    text-align: left;
    padding-left: 10px;
}